/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
  padding: 5vw;
}

.content-mid-header {
  height: 10vh;
  width: 100%;
  background: #444;
}

.content-container {
  width: 100%;
  height: 90%;
}

.content {
  height: 80%;
  width: 100%;
  padding: 20% 5%;
  text-align: center;
  background: #D8D8D8;
}